.CheckoutSummary{
    text-align: center;
    width:80%;
    margin:auto;
}
.CheckOutButton{
    margin:auto;
    padding: 10px;
}

@media (min-width){
    .CheckoutSummary{
        width:500px;
    }
}